<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/assets/bootstrap/css/bootstrap.min.css' | relative_url }}">
    
    <!-- Font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!-- Ionicons (for icons) -->
    <link rel="stylesheet" href="{{ '/assets/fonts/ionicons.min.css' | relative_url }}">

    <!-- Favicon links -->
    <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ '/assets/images/favicon.png' | relative_url }}" sizes="180x180">
    <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/png">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="page-wrapper">
        <div class="background"></div> <!-- Blue background -->
            <div class="background-wrapper">
                <div class="gradient-01"></div>
                <div class="gradient-02"></div>
                <div class="gradient-03"></div>
                <div class="gradient-04"></div>                                
            </div>
        <div class="main-wrapper">
            <header>
                <div class="navbar-header">
                    <div class="navbar">
                        <div class="page-padding">
                            <div class="container">
                                <div class="navbar-inner nav-wrap">
                                    <div class="navbar-top">
                                        <div class="navbar-left">
                                            <img src="{{ '/assets/images/DNA.png' | relative_url }}" alt="DNA Icon" style="height: 60px; vertical-align: middle;">
                                            <h1 style="display: inline;">{{ site.title }}</h1>
                                            <div class="gray-button blue w-inline-block">
                                                <div class="label-text">Looking for Work!</div>
                                            </div>     
                                        </div>
                                        <div class="navbar-right">
                                            <div class="navbar-right-button">
                                                <a href="mailto:vinnyc725@gmail.com" class="button small w-inline-block"><div class="button-inner"><div class="button-inner-text">Let's Connect!</div></div></a>
                                            </div>
                                        </div>
                                    </div>                         
                                    <div class="navbar-menu">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/projects">Projects</a></li>
                                        <li><a href="{{ '/assets/documents/resume1.pdf' | relative_url }}" target="_blank">Resume</a></li>
                                    </div>
                                </div>        
                            </div>        
                        </div>    
                    </div>           
                </div>      
                <div class="line"></div> 
            </header>     

            <main>
                {{ content }}
            </main>

            <div class="footer">
                <div class="page-padding">
                    <div class="bigcontainer">
                        <div class="line"></div>
                        <div class="footer-bottom">
                            <div class="copyright-text">
                                <p>&copy; {{ site.time | date: "%Y" }} Vincent Alexander Chen</p>
                            </div>
                            <div class="bottom-social"> 
                                <a href="https://www.linkedin.com/in/yourprofile" target="_blank" class="icon-link">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="mailto:your-email@example.com" class="icon-link">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a href="https://github.com/yourusername" target="_blank" class="icon-link">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
        

        </div>
    </div>    



